:root {
    --heading-background-color: darkblue;
    --text-align: center;
}


h1 {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 900;
    color: black;
}

body {
    
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}