:root{
    --heading-background-color: darkblue;
    --text-align: center;
    --display: block;
    --padding: 20px;
    --width-image: 200px;


}


nav{
    background-color:   var(--heading-background-color);
    padding: 10px;
    text-align: var(--text-align);

    
}

nav a{
    color: white;
    display: var(--display);
    padding: 20px;

}

h1 {
    color: var(--heading-background-color);
    text-align: var(--text-align)
}

img{
    width: 150px;
    height: auto;
    border: 1px solid black; 
    padding: 2px;
    box-shadow: 0 0 30px gray;
    
}

p{
    padding: 10px;
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: var(--padding);
    text-align: var(--text-align);
}


aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, 0.2); /* 1 */
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: var(--text-align);
    
}


aside img {
    width: var(--width-image);
    height: auto;

}

main img{
    width: var(--width-image);
    height: auto;
    border:#000;
    display: var(--display);  
    margin-left: auto; 
    margin-right: auto;
}

p {padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-align);
}